.profile-background {
  height: 120px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.profile-avatar {
  height: 90px;
  width: 90px;
  overflow: hidden;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-top: -50px;
  border: 4px solid #fff;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.profile-avatar img {
  max-width: 100%;
  height: auto;
}
.profile-title {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}
.profile-description {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  text-align: center;
}
